[Unit]
Description=Trinity compute container

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/usr/bin/setsid /usr/sbin/trinity-start
ExecStop=-/usr/bin/killall trinity-start
ExecStop=-/usr/bin/docker stop trinity
ExecReload=-/usr/bin/killall trinity-start ; \
           -/usr/bin/docker stop trinity ; \
           -/usr/bin/docker rm trinity ; \
           -/usr/bin/docker pull controller:5050/trinity ; \
           /usr/sbin/trinity-start

[Install]
WantedBy=multi-user.target
