[Unit]
Description=Dockerized Keystone
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker create --net=host --privileged=true --name=keystone controller:5050/keystone
ExecStart=/usr/bin/docker start -a keystone
ExecStop=/usr/bin/docker stop -t 2 keystone

[Install]
WantedBy=multi-user.target
